#profile {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

#personal-data p{
    margin: 15px;
    font-size: 25px;
}

#history {
    margin: 40px;
}

#empty-history {
    margin: 20px;
}

.items p {
    margin: 15px;
    font-size: 20px;
}

/* responsive */
@media only screen and (max-width: 600px){
    #profile {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }
    #history {
        margin: 40px 0;
    }
}